/*Body*/
[data-testid="stAppViewContainer"]{
    /*background-image:url("https://i.ibb.co/0GTS96m/theme3.jpg");
    background-size: cover;*/
    background: linear-gradient(to right, rgb(182, 244, 146), rgb(73, 187, 216));

}


/*header*/
/*
div.ezrtsby2{
    justify-content: center;
    align-items: center;
    display: flex;
    padding-left: 0px;
    padding: 5px;
    height: 145px;
    margin-bottom: 40px;
    background-color: #e0455f;
    background-image: linear-gradient(147deg, #e0455f 0%, #44000b 74%);
    
}*/
.st-emotion-cache-6qob1r.eczjsme3,[data-testid="stSidebar"]{
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    padding-left: 0px;
    padding: 5px;
    height: 145px;
    margin-bottom: 40px;
    background-color: #002060;
    background-image: linear-gradient(to right, #002060, rgb(73, 187, 216));;

}
.st-emotion-cache-18ni7ap.ezrtsby2{
    background: none;
}
   
#mainmenu{
    visibility: hidden;
    display: none;
}
.profileImage {
    width: 138px; /* Adjust the width as needed */
    height: 138px;
    margin-right: 10px;
    margin-left: 12px;
    margin-top: 15px;
    border-radius: 50%;
    border:linear-gradient(to right, rgb(88, 221, 11), rgb(51, 139, 147));
    border-style: double;
    animation: flip 2s infinite;
}
.st-emotion-cache-1pbsqtx{
display: flex;
position:absolute;
}
.textContainer {
    margin-left: 5px;
    color: white;
}
.textContainer p {
    margin: 0;
    font-family: "Puppins";
    font-size: large;
}
div.st-emotion-cache-18ni7ap .ezrtsby2 {
    padding: 5px;
    margin-top: 15px;
    font-size: 18px;
}
.textContainer .title p{
     font-size: 24px;
     color:white;
     font-weight: bold;
  }
/*chat message AI*/

div.st-emotion-cache-4oy321.eeusbqq4 {
    background-color: white;
    border-radius: 20px;
    margin-top: 0px;
    animation: fade-in-right 2s ease-in-out both;

}

div.st-emotion-cache-4oy321.eeusbqq4 p {
    color: black;
    padding: 5px;
    font-family: "Times New Roman";
    font-size: 17px;
    

}

/*user message*/
div.st-emotion-cache-1c7y2kd.eeusbqq4 {
    align-self: flex-end;
    background: #D9FDD3;
    border-radius: 10px 3px 10px 10px;
    padding: 10px;
    margin-bottom: 0%;
    flex-direction: row-reverse;
    
}

div.st-emotion-cache-1c7y2kd.eeusbqq4 p {
    color: black;
    font-family: "Times New Roman";
    font-size: 18px;
}
.st-emotion-cache-10trblm.e1nzilvr1 {
    font-family: "Times New Roman";
    color: rgb(3, 3, 124);

}
strong{
    font-family: "Times New Roman";
    color: rgb(3, 3, 124);

}


/*AI shadow*/
div.st-emotion-cache-4oy321.eeusbqq4:hover {
    box-shadow: blue;


}
.profileImage:hover{
    transform: scale(1.1);
}
/*User Shadow*/
div.st-emotion-cache-1c7y2kd.eeusbqq4:hover {
    box-shadow: blue;}

/*AI messeges*/

div.eeusbqq2 {

    border-radius: 50%;

}

@keyframes fade-in-right {
    0% {
        transform: translate(-50%);
        opacity: 0;
    }

    100% {                                            
        transform: translate(0%);
        opacity: 1;
    }
}



@keyframes fade-in-left {
    0% {
        transform: translate(50%);
        opacity: 0;
    }

    100% {
        transform: translate(0%);
        opacity: 1;
    }

}
/*app Botom*/
div.st-emotion-cache-uhkwx6.ea3mdgi6{
    background:none;
    border-radius: 5px 5px;
}
div.st-emotion-cache-1up18o9.e1d2x3se2{
     color:linear-gradient(270deg, hsl(207, 65%, 70%), hsl(207, 100%, 50%));
}
.stAudio{
   width: 250px !important;
   background-color: white !important;
    
}
.textContainer .title p:hover{
    font-size: 25px;
    color: rgb(188, 12, 241);

}
[data-testid="stChatInputTextArea"]{
   align-self: self-end;
   background: none;

}
/* For screens smaller than 768px (e.g., mobile devices) */
@media (max-width: 767px) {
  
    .st-emotion-cache-4oy321.eeusbqq4 {
      width: 100%;
      height: 50%;
      align-self:self-end;
      
    }
  }
  
  /* For screens larger than or equal to 768px (e.g., tablets and desktops) */
  @media (min-width: 768px) {
  
    .st-emotion-cache-4oy321.eeusbqq4 {
      width: 120%;
      height: 100%;
      align-self:self-end;
    }
  }
  :root {
    --body-color: #010c15;
    --box-bg: #26d0ce;
    --box-fg: var(--body-color);
    --box-border: #d3d3d3;
    --box-width: 150px;
    --border-radius: 5px;
    color-scheme: dark;
  }
  
  body {
    height: 100vh;
    display: grid;
    overflow: hidden;
    place-content: center;
    background-color: var(--body-color);
  }
  
  nav {
    margin: 10%;
    display: flex;
    text-align: center;
    font: bold 1.5rem sans-serif;
    box-shadow: 0 5px 50px 0px rgb(255 255 255 / 0.3);
  }
  
  nav a {
    transition: 0.2s;
    color: var(--box-fg);
    text-decoration: none;
    width: var(--box-width);
    background: var(--box-bg);
    padding: calc(var(--box-width) / 10);
  }
  
  nav a.active {
    background: var(--box-fg);
    color: var(--box-bg);
  }
  
  nav a:first-child {
    border-top-left-radius: var(--border-radius);
    border-bottom-left-radius: var(--border-radius);
  }
  
  nav a:last-child {
    border-top-right-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
  }
  
  nav a:hover {
    filter: blur(3px);
    opacity: 0.5;
    outline: 1px solid var(--box-bg);
  }
  
  nav a:hover.active {
    filter: blur(0px);
    opacity: 1;
    outline: 1px solid var(--box-border);
  }
  button {
    background-color: #002060; /* Dark Blue background */
    border: none; /* Remove borders */
    color: white; /* White text */
    padding: 15px 32px; /* Add padding */
    text-align: center; /* Center text */
    text-decoration: none; /* Remove underline */
    display: inline-block; /* Button display */
    font-size: 16px; /* Increase font size */
    margin: 4px 2px; /* Add space around button */
    cursor: pointer; /* Pointer cursor on hover */
    border-radius: 12px; /* Rounded corners */
    transition-duration: 0.4s; /* Transition effect */
    box-shadow: 0 5px #999; /* 3D shadow effect */
}

button:hover {
    background-color: white; /* White background on hover */
    color: black; /* Black text on hover */
    border: 2px solid #002060; /* Dark Blue border */
}

button:active {
    background-color: #002060; /* Dark Blue background on click */
    box-shadow: 0 3px #666; /* Pressed 3D shadow */
    transform: translateY(2px); /* Pressed button effect */
}

